<link rel="stylesheet" href="../css/style.css">
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript">
function modal(target) {
            this.$modal = $(target);
            this.$off = $('.close');
	    var mask = $('#mask');
            var _this = this;

            this.show = function () {
                mask.addClass('in');
                _this.$modal.addClass('ready');
                setTimeout(function () {
                    _this.$modal.addClass('in');
                }, 0)
            }


            this.hide = function () {
                mask.removeClass('in');
                _this.$modal.removeClass('in');
                setTimeout(function () {
                    _this.$modal.removeClass('ready');
                }, 300)
            }

            this.toggle = function () {
                return _this.$modal.hasClass('in') ? _this.hide() : _this.show();
            }

        }
function reward() {
            var modal = new this.modal('#reward');
            $('#rewardBtn').addEventListener(even, modal.toggle);

            var $rewardToggle = $('#rewardToggle');
            var $rewardCode = $('#rewardCode');
            if ($rewardToggle) {
                $rewardToggle.addEventListener('change', function () {
                    $rewardCode.src = this.checked ? this.dataset.alipay : this.dataset.wechat
                })
            }
        }
</script>
<div class="page-reward">
    <a id="rewardBtn" href="javascript:;" onclick="reward()" class="page-reward-btn waves-effect waves-circle waves-light">赞赏</a>
</div>
<div id="reward" class="page-modal reward-lay">
    <a class="close" href="javascript:;"><i class="icon icon-close"></i></a>
    <h3 class="reward-title">
        <i class="icon icon-quote-left"></i>
        谢谢~
        <i class="icon icon-quote-right"></i>
    </h3>
    <div class="reward-content">
        
        <div class="reward-code">
            <img id="rewardCode" src="/images/payimg/wechat.jpg" alt="打赏二维码">
        </div>
        
        <label class="reward-toggle">
            <input id="rewardToggle" type="checkbox" class="reward-toggle-check"
                data-wechat="/images/payimg/wechat.jpg" data-alipay="/images/payimg/alipay.jpg">
            <div class="reward-toggle-ctrol">
                <span class="reward-toggle-item wechat">微信</span>
                <span class="reward-toggle-label"></span>
                <span class="reward-toggle-item alipay">支付宝</span>
            </div>
        </label>
        
    </div>
</div>
<div class="mask" id="mask"></div>

