---
layout: simplePage
title: Donate
description: 向我捐赠
category: donate
---

<link rel="stylesheet" href="../css/bootstrap.min.css">

<link rel="stylesheet" href="../css/blog.css">
<link rel="stylesheet" href="../css/site.css">
<div class="subheader-container">
<div class = "inner">
<nav class = "sub-nav">
    <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">Home</a>
    <a class="{% if page.category == 'categories' %} selected {% endif %}" href="/blog/categories.html">Categories</a>
    <a class="{% if page.category == 'donate' %} selected {% endif %}" href="/blog/donate.html">Donate</a>
</nav>
</div>
</div>

<style>
img[alt=drawing] { width: 35%; }
</style>

<section class="inner">
<div id="content">
<div class="pidex">
  <blockquote>
    <p>谢谢老板！</p>
  </blockquote>
</div>
<h2 id="支付宝扫码">支付宝扫码</h2>
<div class="post">
<img src="../images/alipay.png" alt="drawing">
</div>

</div>
</section>

<div class="separator"></div>

  <div  style="border-bottom: 1px solid #ddd"></div>
    <footer>
    <p class="linkings">
       
    </p>
    </p>
      <a href="http://www.easycounter.com/"><img src="http://www.easycounter.com/counter.php?willard"border="0" alt="Website Hit Counter"></a> since August 2013.
    </p>
    <ul class="links">
    </ul>
  </footer>
